/* Global overrides*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	
	vertical-align: baseline;
}

html, body {
	height: 100%;
}

div {
	width: 100%;
	height: 100%;
	max-height: 100%;
	background-image: url('images/nyc.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}