@import url('https://fonts.googleapis.com/css?family=Unica+One');
@import url('https://fonts.googleapis.com/css?family=Moul');

/* Global overrides*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Unica One', cursive;
	vertical-align: baseline;
}

html, body {
	height: 100%;
}

#page {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	max-height: 100%;
	background-image: url('images/nyc.jpg');
	background-size: 100vw 130vh;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
}

h1, h2 {
	opacity: 1;
	padding-left: 15vw;
	padding-right: 15vw;
	text-align: center;
	color: white;
	text-transform: small-caps;
	word-spacing: 0.3vw;
	text-shadow: 0.5px 0.5px black;
	/*todo: add feathering effects*/
}

h1 {
	font-size: 3.3rem;
	padding-top: 40vh;
}

h2 {
	font-size: 1.6rem;
	padding-top: 7vh;
}


@keyframes fadeIn {
    from { opacity: 0; } to { opacity: 1; }
}

.intro {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
