/*
	Cityscapes New Tab
	Built by Anthony Ding
	http://anthonyding.com
	Copyright 2019 by Anthony Ding.
*/
@import url('https://fonts.googleapis.com/css?family=Unica+One');

/* Global overrides*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Unica One', cursive;
	vertical-align: baseline;
}

html, body {
	height: 100%;
}

#page {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	max-height: 100%;
	background-size: 100vw 130vh;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.7;
}

h1, h2 {
	opacity: 1;
	padding-left: 15vw;
	padding-right: 15vw;
	text-align: center;
	color: white;
	text-transform: small-caps;
	word-spacing: 0.3vw;
	text-shadow: 0.7px 0.7px grey;
	overflow: hidden;
}

h1 {
	font-size: 3.3rem;
	padding-top: 41vh;
}

h2 {
	font-size: 1.6rem;
	padding-top: 8vh;
}


@keyframes fadeIn {
    from { opacity: 0; } to { opacity: 1; }
}

.intro {
    opacity: 0;
    animation: fadeIn ease-in 1;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
 }

/* Tablet scalable */
@media only screen and (min-width: 960px) and (min-height: 400px) and (max-height: 600px) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 600px) and (max-width: 960px) and (min-height: 400px) and (max-height: 600px) {
	h1 {
		font-size: 2.3rem;
	}

	h2 {
		font-size: 1.4rem;
	}
}

@media only screen and (min-width: 600px) and (max-width: 960px) and (min-height: 600px) {
	h1 {
		font-size: 2.4rem;
	}

	h2 {
		font-size: 1.4rem;
	}
}

/* Mobile scalable */
@media only screen and (min-width: 600px) and (min-height: 330px) and (max-height: 560px) {
	h1 {
		font-size: 1.7rem;
	}

	h2 {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 240px) and (max-width: 600px) and (min-height: 330px) and (max-height: 560px) {
	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 1rem;
	}
}

@media only screen and (min-width: 240px) and (max-width: 600px) and (min-height: 560px) {
	h1 {
		font-size: 1.6rem;
	}

	h2 {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 240px) {
	h1 {
		font-size: 1.5rem;
	}

	h2 {
		font-size: 0.8rem;
	}
}

@media only screen and (max-height: 330px) {
	h1 {
		padding-top: 25vh;
		font-size: 1.5rem;
	}

	h2 {
		font-size: 0.8rem;
	}
}



