@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	vertical-align: baseline;
}

body {
	width: 200px;
	height: 250px;
}

h1 {
	font-size: 1.5rem;
}

p {
	font-size: 1rem;
}

a {
	text-decoration: none;
}